@import url('https://fonts.googleapis.com/css2?family=Comic+Relief&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(189, 168, 210);
  margin: 0;
  padding: 0;
  font-family: 'Comic Relief', cursive;
}

h1, h2, h3, p {
  text-align: center;
  font-family: 'Comic Relief', cursive;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

main.welcome {
  flex: 1;
  text-align: center;
  padding: 40px 20px;
}

.start-btn,
button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1rem;
  background-color: #a46cd2;
  color: white;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

.start-btn:hover,
button:hover {
  background-color: #7d4bb5;
  box-shadow: 4px 6px 10px rgba(0,0,0,0.3);
}

.name-input {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #aaa;
  font-size: 1rem;
}

.scene {
  display: none;
  min-height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 20px;
  animation: fadeInZoom 0.6s ease forwards;
}

.scene.active {
  display: flex;
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


#scene0 {
  background: url(img/фон0.jpg) no-repeat center center/cover;
}
